extends layout

block content
  header
    .container
      .f-container
        .f-item
          span.material-icons menu
          //- パスはpublic下からでよい
          img#myIcon(src="/images/myIcon.PNG", alt="myIcon")
        .f-item
          form(action="/hello" method="get")
            div
              label(for="explore") 検索
              input#explore(type="text" name="explore")
            input(type="image" src="/images/searchIcon_1x.png" alt="searchIcon")
        nav.f-item
          -for (let i = 1; i <=3; i++)
              li item #{i}

  .main
    .container 
      h1= title
      p #{content}

