header {
    height: 20px;
    margin-bottom: 30px;
    .f-container {
        display: flex;
        justify-content: space-between;

        .f-item {
            display: flex;
        }
        
    }
    
    h1 {
        color: greenyellow;
        margin: 5px;
    }
    
    nav {
        display:inline-block;
        
        li {
            list-style: none;
            font-size: 5px
        }
    }
}

.main {
    margin-top: 10px;
    h1 {
        color: red;
    }
}