header {
    height: 30px;
    background-color: rgb(168, 169, 221);
    margin-bottom: 30px;
    .f-container {
        display: flex;
        justify-content: space-between;

        .f-item {
            display: flex;

            #open {
                cursor: pointer;
                user-select: none;
            }

            #myIcon {
                height: 30px;
            }

        }
        
    }
    
    h1 {
        color: greenyellow;
        margin: 5px;
    }
    
    nav {
        display:inline-block;
        
        li {
            list-style: none;
            font-size: 5px
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    list-style: none;
    
    &.show {
        opacity: 1;
        pointer-events: auto;
    }

    #close {
        cursor: pointer;
        user-select: none;
    }
}


.main {
    margin-top: 10px;
    h1 {
        color: red;
    }
}