header {
    height: 30px;
    background-color: rgb(168, 169, 221);
    margin-bottom: 30px;
    .f-container {
        display: flex;
        justify-content: space-between;

        .f-item {
            display: flex;

            #open {
                position: relative;
                top: 2px;
                cursor: pointer;
                user-select: none;

                &:hover {
                    opacity: .5;
                }
            }

            #myIcon {
                height: 30px;
            }

            form {
                position: relative;
                top: 3px;

                .input {
                    float: left;
                }
    
                #searchIcon {
                    float: right;
    
                    &:hover {
                        opacity: .5;
                    }
                }
            }

        }
        
    }
    
    h1 {
        color: greenyellow;
        margin: 5px;
    }
    
    nav {
        display:inline-block;
        
        li {
            margin-right: 10px;
            font-size: 15px;
            line-height: 30px;
            list-style: none;

        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    // right: ;
    left: 0;
    width: 15%;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    // opacity: 1;
    pointer-events: auto;
    transition: transform .4s;
    list-style: none;
    z-index: 2;
    user-select: none;
    // &.show {
    //     opacity: 1;
    //     pointer-events: auto;
    // }

    &.hidden {
        transform: translate(-300px, 0);
        // opacity: 0;
        pointer-events: none;
    }

    #close {
        cursor: pointer;
        user-select: auto;
    }

    a {
        display: block;
        z-index: 2;
    }
}

#mask {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
    // opacity: 0;
    transition: opacity 1s;

    &.hidden {
        display: none;
    }
}


.main {
    margin-top: 10px;
    h1 {
        color: red;
    }
}